# env
.idea/
venv/

*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
src/__pycache__/
*/src/__pycache__/

# data
pytorch-tutorials/.data/

# not finished
dl_class_tf.ipynb
dl_class_mlp.ipynb
tf_model.ipynb
rnn/RNN*.ipynb
